body {
  font-family: "Times New Roman", Times, serif;
  background: linear-gradient(
    90deg,
    #1f005c,
    #350168,
    #4e0274,
    #6a0380,
    #8b058b,
    #970780,
    #a30971,
    #af0b5f
  );
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.attlogo {
  position: fixed;
  left: 15px;
  top: 10px;
  width: 50px;
  border-radius: 40%;
  border: 3px solid rgb(8, 128, 48);
  visibility: visible;
}

.attlogo1 {
  position: fixed;
  font-size: 25px;
  top: 20px;
  left: 80px;
  background: #05f1e6;
  background: -webkit-linear-gradient(to right, #05f1e6 0%, hotpink 100%);
  background: -moz-linear-gradient(to right, #05f1e6 0%, hotpink 100%);
  background: linear-gradient(to right, #05f1e6 0%, hotpink 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.attmenu {
  position: relative;
  top: 10px;
  left: 30%;
  width: 45%;
  height: 8%;
  border-radius: 20px;
}

.attmenu .attul .atta {
  font-size: 25px;
  text-decoration: none;
  padding: 10px 15px;
  float: left;
  text-align: center;
  color: greenyellow;
  display: block;
  cursor: pointer;
  font-weight: bold;
}

.attmenu .attul .attli .atta:hover {
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: fit-content;
  border-bottom-color: #9dd3a8;
  background: #f29c08;
  background: linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
  background: -webkit-linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
  background: -moz-linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
  background: -o-linear-gradient(20deg, #f29c08 0%, #ff0d45 67%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='F29C08', endColorstr='#FF0D45', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  /* text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #0fa, 0 0 16px #0fa, 0 0 20px #0fa, 0 0 22px #0fa, 0 0 24px #0fa; */
}

.attcontainer {
  position: fixed;
  top: 70px;
  width: 20%;
  height: 100%;
  background-color: aquamarine;
  margin-left: 5px;
}

.attcontainer .atth3 {
  font-size: 28px;
  position: absolute;
  padding: 10px 15px;
  left: 20px;
}

.attcontainer .attcontent .attcona .att-p {
  position: relative;
  line-height: 2;
  font-size: 20px;
  padding: 5px 20px;
  top: 50px;
  left: 20px;
  cursor: pointer;
  color: #1f212b;
}

.attcontainer .attcontent .att-p:hover {
  color: #1f005c;
  font-weight: bold;
}

.attribute1 .att-head1 {
  position: absolute;
  top: 150px;
  font-size: 30px;
  left: 40%;
}

.attribute1 .at-ul {
  /* position: relative; */
  /* overflow: hidden; */
  height: 350px;
}

.attribute1 .at-ul .at-li {
  position: relative;
  font-size: 20px;
  top: 130px;
  list-style: disc;
  left: 31%;
  line-height: 2;
  width: 600px;
}
/* .attribute1 .at-ul .at-lia1 {
  position: relative;
  left: 23%; */
/* } */

.attribute1 .att-p1 {
  position: absolute;
  font-size: 25px;
  top: 430px;
  left: 30%;
}

.attribute1 .att-x1 {
  position: absolute;
  font-size: 20px;
  top: 480px;
  left: 35%;
  font-family: "Times New Roman", Times, serif;
}

.attribute1 .att-p2 {
  position: absolute;
  font-size: 20px;
  top: 510px;
  left: 35%;
  line-height: 2;
}

.attribute1 .att-x2 {
  position: absolute;
  font-size: 20px;
  top: 600px;
  left: 40%;
  font-family: "Times New Roman", Times, serif;
}

.attribute1 .att-p3 {
  position: absolute;
  font-size: 25px;
  top: 650px;
  left: 30%;
}

.attribute1 .att-x3 {
  position: absolute;
  font-size: 20px;
  top: 680px;
  left: 35%;
  font-family: "Times New Roman", Times, serif;
}

.attribute1 .att-p4 {
  position: absolute;
  font-size: 20px;
  top: 700px;
  left: 35%;
  line-height: 2;
}

.attribute1 .att-x4 {
  position: absolute;
  font-size: 20px;
  top: 780px;
  left: 40%;
  font-family: "Times New Roman", Times, serif;
}

.attribute1 .att-p5 {
  position: absolute;
  font-size: 25px;
  top: 825px;
  left: 30%;
}

.attribute1 .att-p6 {
  position: absolute;
  font-size: 20px;
  top: 870px;
  left: 30%;
  line-height: 2;
}

.attribute1 .att-p7 {
  position: absolute;
  font-size: 25px;
  top: 1230px;
  left: 30%;
  line-height: 5;
}

.attribute1 .att-x5 {
  position: absolute;
  font-size: 20px;
  top: 1320px;
  left: 30%;
  font-family: "Times New Roman", Times, serif;
}

.attribute1 .att-p8 {
  position: absolute;
  font-size: 20px;
  top: 1350px;
  left: 30%;
  line-height: 2;
}

.attribute1 .att-x6 {
  position: absolute;
  font-size: 20px;
  top: 1450px;
  left: 30%;
  font-family: "Times New Roman", Times, serif;
}

.attribute1 .att-p9 {
  position: absolute;
  font-size: 25px;
  top: 1500px;
  left: 30%;
  line-height: 2;
}

.attribute1 .att-x7 {
  position: absolute;
  font-size: 20px;
  top: 1550px;
  left: 30%;
  font-family: "Times New Roman", Times, serif;
}

.attribute1 .att-p10 {
  position: absolute;
  font-size: 20px;
  top: 1570px;
  left: 30%;
  line-height: 2.5;
}

.attribute1 .att-x8 {
  position: absolute;
  font-size: 20px;
  top: 1720px;
  left: 30%;
  font-family: "Times New Roman", Times, serif;
}

.attribute1 .att-p11 {
  position: absolute;
  font-size: 25px;
  top: 1760px;
  left: 30%;
  line-height: 2;
}

.attribute1 .att-p12 {
  position: absolute;
  font-size: 20px;
  top: 1800px;
  left: 30%;
  line-height: 2.5;
}

.attribute1 .att-x9 {
  position: absolute;
  font-size: 20px;
  top: 1820px;
  left: 25%;
  font-family: "Times New Roman", Times, serif;
}

.attribute1 .att-p13 {
  position: absolute;
  font-size: 25px;
  top: 1880px;
  left: 30%;
  line-height: 2;
}

.attribute1 .att-p14 {
  position: absolute;
  font-size: 20px;
  top: 1920px;
  left: 30%;
  line-height: 2.5;
}

.attribute1 .att-x10 {
  position: absolute;
  font-size: 20px;
  top: 2060px;
  left: 25%;
  font-family: "Times New Roman", Times, serif;
}

.att-btn .att-next {
  position: relative;
  border: 2px solid;
  border-radius: 15px;
  border-color: black;
  background: #060b07;
  background: linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
  background: -webkit-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
  background: -moz-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
  background: -o-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='060B07', endColorstr='#8CFFF8', GradientType=1);
  color: wheat;
  font-size: 30px;
  padding: 5px 30px;
  top: 1950px;
  left: 80%;
}

.att-btn .att-next:hover {
  text-shadow: 1px 1px 1px red, 3px 3px 5px blue;
}

.att-btn .att-previous {
  position: relative;
  border: 2px solid;
  border-radius: 15px;
  border-color: black;
  background: #060b07;
  background: linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
  background: -webkit-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
  background: -moz-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
  background: -o-linear-gradient(0deg, #060b07 0%, #8cfff8 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='060B07', endColorstr='#8CFFF8', GradientType=1);
  color: wheat;
  font-size: 30px;
  padding: 5px 20px;
  top: 1950px;
  left: 15%;
}

.att-btn .att-previous:hover {
  text-shadow: 1px 1px 1px red, 3px 3px 5px blue;
}

.att-footer {
  position: relative;
  background: #1f212b;
  width: 79.6%;
  height: 50%;
  box-sizing: border-box;
  bottom: 0px;
  margin: 0;
  padding: 0;
  top: 2000px;
  left: 250.5px;
  overflow: hidden;
}

.attmain-content {
  display: flex;
  /* position: absolute; */
}

.attmain-content .attleft-box {
  border: none;
}

.attmain-content .attleft-box .atlt-h2 {
  font-size: 30px;
  line-height: 1;
  color: #005792;
  left: 50px;
  top: 30px;
  position: relative;
}

.attmain-content .attleft-box .atlt-ul .atlt-li .atlt-a {
  position: relative;
  display: block;
  font-size: 25px;
  line-height: 2;
  padding-top: 10px;
  margin-left: 10px;
  color: #e4d1d3;
  text-align: center;
  left: 30px;
  top: 50px;
  cursor: pointer;
}

.attmain-content .attleft-box .atlt-ul .atlt-li .atlt-a:hover {
  color: white;
  border-bottom: #f29c08;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
}

.attmain-content .attcenter-box {
  position: absolute;
  display: block;
  border: none;
  width: 300px;
  height: 300px;
  top: 30px;
  left: 35%;
}

.attmain-content .attcenter-box .atce-h2 {
  position: absolute;
  font-size: 30px;
  left: 45px;
  top: 4.5px;
  color: #005792;
  /* line-height: 2.0; */
}

.attmain-content .attcenter-box .atce-phone {
  position: relative;
  display: flex;
  font-size: 20px;
  top: 60px;
  left: -40px;
  color: #e4d1d3;
  cursor: pointer;
}

.attmain-content .attcenter-box .atce-mail {
  position: relative;
  display: flex;
  font-size: 20px;
  left: -40px;
  top: 130px;
  color: #e4d1d3;
  cursor: pointer;
}

.attmain-content .attcenter-box .atce-location {
  position: relative;
  display: flex;
  font-size: 20px;
  left: -40px;
  top: 200px;
  color: #e4d1d3;
}

.attmain-content .attcenter-box .atce-button {
  border: 3px solid #ff5f5f;
  position: relative;
  /* display: flex; */
  font-size: 20px;
  color: white;
  border-radius: 15px;
  padding: 10px 15px;
  text-align: center;
  top: 200px;
  left: 60px;
}

.attmain-content .attcenter-box .atce-mail,
.attmain-content .attcenter-box .atce-phone,
.attmain-content .attcenter-box .atce-location {
  font-size: 25px;
  text-indent: 20px;
}

.attmain-content .attcenter-box .atce-button:hover {
  box-shadow: 4px 3px 8px 4px #e79686;
}

.attmain-content .attright-box {
  position: relative;
  display: flex;
  width: 300px;
  height: 350px;
  top: 25px;
  left: 60%;
}

.attmain-content .attright-box .atrt-h2 {
  position: absolute;
  display: flex;
  font-size: 30px;
  top: 10px;
  left: -25px;
  color: #005792;
}

.attmain-content .attright-box .atrtsocial_media .atrt-ul {
  position: relative;
  top: 150px;
  left: 90px;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}

.attmain-content .attright-box .atrtsocial_media .atrt-ul .atrt-li {
  list-style-type: none;
}

.attmain-content .attright-box .atrtsocial_media .atrt-ul .atrt-li .atrt-a {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
  background-color: #1f005c;
}

.atrtsocial_media .atrt-ul .atrt-li .atrt-a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
  text-decoration: none;
  transform: translate(0, -20px);
}

.atrt-ul .atrt-li:nth-child(1) .atrt-a:hover .fab {
  color: #3b5998;
}

.atrt-ul .atrt-li:nth-child(2) .atrt-a:hover .fab {
  color: #00acee;
}

.atrt-ul .atrt-li:nth-child(3) .atrt-a:hover .fab {
  color: #db4a39;
}

.atrt-ul .atrt-li:nth-child(4) .atrt-a:hover .fab {
  color: #0e76a8;
}

.atrt-ul .atrt-li:nth-child(5) .atrt-a:hover .fab {
  color: #de249f;
}

.attmain-content .attright-box .atrtsocial_media .atrt-ul .atrt-li .atrt-a.fab {
  width: 70%;
  height: 70%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(6px - 12px);
  font-size: 50px;
  color: #262626;
  transition: 0.5s;
}

.attmain-content .attright-box .atrtsocial_media .atrt-ul .atrt-li .atrt-a > i {
  font-size: 25px;
}
