@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: rgba(253, 249, 249, 0) !important;
}
body{
    margin: 0;
    padding: 0;
    background: #6CFA89 !important;

background: linear-gradient(0deg, #6CFA89 20%, #8fd3f4 100%) !important;

background: -webkit-linear-gradient(0deg, #6CFA89 20%, #8fd3f4 100%) !important;

background: -moz-linear-gradient(0deg, #6CFA89 20%, #8fd3f4 100%) !important;

background: -o-linear-gradient(0deg, #6CFA89 20%, #8fd3f4 100%) !important;

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6CFA89', endColorstr='#8fd3f4',GradientType=1 ) !important;
}
.logo{
    cursor: pointer;
        position: relative;
        left: 0px;
        border-radius: 50%;
        border: 1px rgb(8, 238, 65) solid;
    }

.head{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    bottom: 10px;
    background-color: #042331 !important;

}

li,a, button{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: bisque;
    text-decoration: none;
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #042331 !important;
}

.lin li{
list-style: none;
align-items: center;
    display: inline-flex;
    align-items: center;
    padding: 0px 10px;
}
.lin li a{
    transition: all 0.3s ease 0s;
}
.lin li a:hover{
    color: greenyellow;
}
.lin{
    position: absolute;
    left: 130px;
    top: 35px;
    
}
.lin>li>.co::after{
    content: '';
    position: relative;
    top:-15px;
    display:inline-block !important;
    width: 0;
    height: 2px;
    background-color:white ;
    transition: width .3s;
}
.lin>li>.co:hover::after{
width: 100%;
transition: width .3s;
}
.lin>li>.oc::after{
    content: '';
    position: relative;
    left: 0px;
        top: -15px;
        display:inline-block;
        width: 0%;
        height: 2px;
    background-color:white ;
    transition: width .3s;
}
.lin>li>.oc:hover:after{
    width: 100%;
    transition: width .3s;
}
.lin>li>.o::after{
    content: '';
    position: relative;
    left: 0px;
    bottom: 15px;
    display:inline-block;        
    width: 0%;        
    height: 2px;
    background-color:white ;
    transition: width .3s;
}        
.lin>li>.o:hover::after{
    width: 100%;
    transition: width .3s;
}
.lin>li>.oce::after{
    content: '';
    position: relative;
    left: 0px;
    bottom: 15px;
    display:inline-block;        
    width: 0;        
    height: 2px;
    background-color: white;
    transition: width .3s;
}        
.lin>li>.oce:hover::after{
    width: 100%;
    transition: width .3s;
}
.cta{
    position:relative;
    left: -40px;
    bottom: -10px;
}

button{
    margin: 0 15px;
    padding: 9px 25px;
    color: #21ebff;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 20px;
    border: none;
    overflow: hidden;
    transition: 0.5s;    
}
button:hover{
background-color: #21ebff !important;
color: #111;
border-radius: 50px;
box-shadow: 0 0 50px #21ebff;
transition-delay: 0.5s;
}
button::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 1px  #21ebff !important;
    border-radius: 35%;
    transition: 0.5s;  
}
 button::before{
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
     width: 100%;
    height: 100%;
    border: 1px  #21ebff;
    border-radius: 15%;
    transition: 0.5s;   
} 

button{
    position: relative;
    left: 0px;
    bottom: 20px;
}
.con{
    margin: 60px auto;
    border: 5px double gray;
    width: 70%;
    height: 400px;
}
table{
    font-size: 1.3rem !important;
    width: 80%;
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}
.inf{
    position: relative;
    left: 200px;
    bottom: 200px;
    font-size: 22px;
}

td{
    position: relative;
    left: -50px;
    padding: 15px  00px 5px 5px;
}

 .pr{
    position: relative;
    left: 200px;
    font-size: 1.3rem !important;
    bottom: 135px;
}
.rp{
    position: relative;
    left: 150px;
    font-size: 1.3rem !important;
    bottom: 135px;
}
.qw{
    position: absolute;
    left: 340px;
    font-size: 1.3rem !important;
    top: 300px;
}
.ad{
    position: absolute;
    left: 340px;
    top:340px;
    font-size: 1.3rem !important;
}
.sa{
    font-size: 1.3rem !important;
    position: relative;
    top: 230px;
    left: 160px;
}
.btnss{
    position: relative;
    top:210px;
    left:650px;
    background-color: #21ebff !important;
    color: #111;
}
btnss:hover{
    border-radius: 50px;
    box-shadow: 0 0 50px #21ebff;
    transition-delay: 0.5s;
    }

td img{
    width: 80px;
    height: 80px;
     margin-left: 150px; 
    margin-right: 10px;
    position: relative;
    bottom: 120px;
    left: -50px;
} 
footer{
    position: absolute;
    bottom: -550px;
    width: 100%;
    height: 300px;
    background: #111 !important;
    color: #78fee0;
    font-size: 20px !important;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 50px;
}
.box .h2{
    font-size: 4ch;
    font-weight: 600;
    text-transform: capitalize;

}
.center>h2{
    margin-bottom: 30px;
    margin-left: 60px;
}
.left>h2{
    margin-bottom: 30px;
    margin-left: 60px;
}
.box .content{
    margin: 20px 0 0 0;
}
.left .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 7px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a !important;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #f12020 !important;
}
.center>.content{
    line-height: 30px;
}
.email{
    padding: 20px 0 10px 10px;
}
.phone{
    padding: 0px 10px;
}
.ctas{
    position: absolute;
    top: 200px;
    left: 500px;
}
.right>h2{
    font-size: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600 !important;
    margin-left: 20px;
}
.contents ul li{
    margin-bottom: 10px;
    list-style: none;
    margin-left: 50px;
    font-weight: 600;
    font-size: 20px !important;
}
.contents ul li a{
    font-weight: 600;
    font-size: 20px !important;
    color: #78fee0 !important;
}