@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
/* *{
    margin: 0;
    padding: 0;
    background-color: rgba(253, 249, 249, 0) !important;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%) !important;
} */
.logo{
    cursor: pointer;
        position: relative;
        left: 0px;
        border-radius: 50%;
        border: 1px rgb(8, 238, 65) solid;
    }

.head{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    bottom: 10px;
    background-color: #042331 !important;

}
li,a, button{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: bisque;
    text-decoration: none;
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #042331 !important;
}

.lin li{
list-style: none;
align-items: center;
    display: inline-flex;
    align-items: center;
    padding: 0px 10px;
}
.lin li a{
    transition: all 0.3s ease 0s;
}
.lin li a:hover{
    color: greenyellow;
}
.lin{
    position: absolute;
    left: 130px;
    top: 35px;
    
}
.lin>li>.co::after{
    content: '';
    position: relative;
    top:-15px;
    display:inline-block !important;
    width: 0;
    height: 2px;
    background-color:white ;
    transition: width .3s;
}
.lin>li>.co:hover::after{
width: 100%;
transition: width .3s;
}
.lin>li>.o::after{
    content: '';
    position: relative;
    left: 0px;
        top: -15px;
        display:inline-block;
        width: 0;
        height: 2px;
    background-color:white ;
    transition: width .3s;
}
.lin>li>.o:hover::after{
    width: 100%;
    transition: width .3s;
}
.lin>li>.oc{
    color: greenyellow !important;
}
.lin>li>.oc::after{
    content: '';
    position: relative;
    left: 0px;
    bottom: 15px;
    display:inline-block;        
    width: 100%;        
    height: 2px;
    background-color:white ;
}        
.lin>li>.oce::after{
    content: '';
    position: relative;
    left: 0px;
    bottom: 15px;
    display:inline-block;        
    width: 0;        
    height: 2px;
    background-color: white;
    transition: width .3s;
}        
.lin>li>.oce:hover::after{
    width: 100%;
    transition: width .3s;
}
.cta{
    position:relative;
    left: -40px;
    bottom: -10px;
}

button{
    margin: 0 15px;
    padding: 9px 25px;
    color: #21ebff;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 20px;
    border: none;
    overflow: hidden;
    transition: 0.5s;    
}
button:hover{
background-color: #21ebff !important;
color: #111;
border-radius: 50px;
box-shadow: 0 0 50px #21ebff;
transition-delay: 0.5s;
}
button::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 1px  #21ebff !important;
    border-radius: 35%;
    transition: 0.5s;  
}
 button::before{
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
     width: 100%;
    height: 100%;
    border: 1px  #21ebff;
    border-radius: 15%;
    transition: 0.5s;   
} 

button{
    position: relative;
    left: 0px;
    bottom: 20px;
}
input {
    border: none;
    outline: none;
}
textarea{
    border: none;
    outline: none;
}
.container{
    background: #fff !important;
    width: 800px;
    /* height: auto; */
    max-width: 800px;
    padding: 25px 40px 10px 40px;
    position: absolute;
    bottom: -150px;
    left: 200px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    background:-webkit-linear-gradient(right,#8fd3f4,#84fab0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container form{
    padding: 30px 0 0 0 0;
}
.container form .form-row{
    display: flex;
    margin: 32px 0;
}
form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}
form .form-row .textarea{
    height: 70px;
}
.input-data input, .textarea textarea{
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0,0.12);
} 
.textarea textarea{
    height: 40%;
}
.input-data input:focus ~label, .textarea textarea:focus ~label,
.input-data input:valid ~label, .textarea textarea:valid ~label{
    transform: translate(0,-10px);
    color:#84fab0;
    font-size: 14px;
    transition: all 0.3s ease;
}
 .textarea textarea{
    resize: none;
    padding-top: 40px;
} 
.input-data label{
    position: absolute;
    bottom: 40px;
    font-size: 16px;
    pointer-events: none;
}
.textarea {
    position: absolute;
    width: 100%;
    bottom: 31px;
    background: #fff;
}
.input-data .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}

.input-data .underline::before,
.input-data .underline::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #8fd3f4;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.input-data input:focus ~.underline::before,.underline::after,
.textarea textarea:focus ~ .underline::before,.underline:after,
.input-data input:valid ~ .underline::before,.underline::after,
.textarea textarea:valid ~ .underline::before,.underline::after{
    transform: scaleX(1);
}
.submit-btn .input-data{
    height: 45px !important;
    width: 45% !important;
    border-radius: 18px;
    overflow: hidden;
}
.submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background:-webkit-linear-gradient(right,#8fd3f4,#84fab0);
    transition: all 0.3s;
}
.submit-btn .input-data:hover .inner{
left: 0;
}
.submit-btn .input-data input{
    position: relative;
    z-index: 2;
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
.kud{
    font-family:'Times New Roman', Times, serif !important;
    font-style: italic;
    color: green;
    /* position: absolute; */
    /* top:-200px; */

}
footer{
    position: absolute;
    bottom: -600px;
    width: 100%;
    height: 300px;
    line-height: 30px;
    background: #111 !important;
    color: #78fee0;
    font-size: 20px !important;
    font-style: italic;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 50px;
}
.box .h2{
    font-size: 4ch;
    font-weight: 600;
    text-transform: capitalize;

}
.center>h2{
    margin-bottom: 30px;
    margin-left: 60px;
}
.left>h2{
    margin-bottom: 30px;
    margin-left: 60px;
}
.box .content{
    margin: 20px 0 0 0;
}
.left .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 7px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a !important;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
    top:20px;
    /* background: #ddd !important; */
}

.left .content .social a span:hover{
    background: #f12020 !important;
}

.ctas{
    position: absolute;
    top: 230px;
    left: 550px;
}
.right>h2{
    font-size: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600 !important;
    margin-left: 20px;
}
.contents ul li{
    margin-bottom: 10px;
    margin-left: 50px;
    /* font-family: 'Roboto', sans-serif !important; */
    font-weight: 600;
    font-size: 20px !important;
}
.contents ul li a{
    font-weight: 600;
    line-height: 30px;
    /* font-family: 'Courier Ne', Courier, monospace; */
    font-size: 20px !important;
    color: #78fee0 !important;
}

.center .content .place{
    line-height: 40px;
}

