@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

.oibackground {
  margin: 0;
  padding: 0;
  background-color: #85ffbd;
  background-image: linear-gradient(
    to right,
    #92fe9d 0%,
    #00c9ff 100%
  ) !important;
  height: auto;
}
.orilogo {
  cursor: pointer;
  position: relative;
  left: 0px;
  border-radius: 50%;
  border: 1px rgb(8, 238, 65) solid;
}

.orihead {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  bottom: 10px;
  background-color: #042331 !important;
}

.orili,
.orioc,
.orioce,
.orico,
.orio,
.oributton1 {
  font-family: "Times New Roman", Times, serif !important;
  font-weight: bold;
  font-size: 28px;
  font-style: oblique !important;
  color: bisque;
  margin-right: 10px;
  text-decoration: none;
}
.oriheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #042331 !important;
}

.orilin .orili {
  list-style: none;
  align-items: center;
  display: inline-flex;
  align-items: center;
  padding: 0px 10px;
}
.orilin .orili .orioc,
.orioce,
.orico,
.orio {
  transition: all 0.3s ease 0s;
}
.orilin .orili .orio:hover,
.orilin .orili .orioc:hover,
.orilin .orili .orico:hover,
.orilin .orili .orioce:hover {
  color: greenyellow;
}
.orilin {
  position: absolute;
  left: 80px;
  top: 15px;
}
.orilin > .orili > .orico::after {
  content: "";
  position: relative;
  top: -15px;
  display: inline-block !important;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}
.orilin > .orili > .orico:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.orilin > .orili > .orioc::after {
  content: "";
  position: relative;
  left: 0px;
  top: -15px;
  display: inline-block;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}
.orilin > .orili > .orioc:hover:after {
  width: 100%;
  transition: width 0.3s;
}

.orilin > .orili > .orioce::after {
  content: "";
  position: relative;
  left: 0px;
  bottom: 15px;
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}
.orilin > .orili > .orioce:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.orilin > .orili > .orio::after {
  content: "";
  position: relative;
  left: 0px;
  bottom: 15px;
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}
.orilin > .orili > .orio:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.oricta {
  position: relative;
  left: -40px;
  bottom: -10px;
}
.oributton1 {
  margin: 0 15px;
  padding: 9px 25px;
  color: #21ebff;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: "Times New Roman", Times, serif !important;
  font-weight: bold;
  font-size: 20px;
  font-style: oblique !important;
  border: none;
  overflow: hidden;
  background: rgba(253, 249, 249, 0);
  transition: 0.5s;
}
.oributton1:hover {
  background-color: #21ebff !important;
  color: #111;
  box-shadow: 0 0 50px #21ebff;
  transition-delay: 0.5s;
}
.oributton1::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #21ebff !important;
  border-right: 2px solid #21ebff !important;
  transition: 0.5s;
}
.oributton1:hover:after {
  width: 100%;
  height: 100%;
}
.oributton1::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #21ebff;
  border-left: 2px solid #21ebff;
  transition: 0.5s;
}
.oributton1:hover:before {
  width: 100%;
  height: 100%;
}
.oributton1 {
  position: relative;
  left: 0px;
  bottom: 20px;
}

.oricart {
  margin: 60px auto;
}
.oritable {
  width: 100%;
  border-collapse: collapse;
}
.oriinfo {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}
.orith {
  position: relative;
  left: 50px;
  text-align: left;
  padding: 05px;
  color: #fff !important;
  font-family: "Times New Roman", Times, serif !important;
  font-style: italic;
  font-size: 19px;
  background: green !important;
  font-weight: normal;
}
.oridd {
  position: relative;
  left: -290px;
}
td {
  position: relative;
  left: 50px;
  padding: 15px 00px 5px 10px;
  font-family: "Times New Roman", Times, serif !important;
  font-style: italic;
}
.oripr {
  position: absolute;
  left: 760px;
  margin-top: 50px;
  font-size: 17px;
}

.oribri {
  font-family: "Times New Roman", Times, serif !important;
  font-style: italic;
  font-size: 29px;
  font-weight: bolder;
  position: relative;
  bottom: 20px;
  right: 90px;
}
.oriprice {
  position: relative;
  left: -570px;
}
.orirs {
  position: absolute;
  left: 590px;
  margin-top: 50px;
  font-family: "Times New Roman", Times, serif !important;
  font-style: italic;
  font-size: 20px;
}
.oria {
  position: absolute;
}

.oriview {
  position: relative;
  left: -05px;
  font-size: 12.8px;
  top: 05px;
  cursor: pointer;
  text-decoration: none;
}
.oriline {
  border-top: 1px solid #dddfe6 !important;
  width: 1600px;
  position: relative;
  left: 60px;
  top: 05px;
  max-width: 1050px;
}
.oritd > a {
  color: black !important;
  font-size: 18px;
  position: relative;
  left: 100px;
  top: 70px;
}

.oritd img {
  width: 80px;
  height: 80px;
  margin-left: 100px;
  margin-right: 10px;
  position: relative;
  right: 100px;
}
.oricontainerc {
  font-family: "Poppins", sans-serif;
  position: relative;
  display: flex;
}
.orisim {
  position: relative;
  font-weight: 600;
  letter-spacing: 1;
  border-bottom: 3px double;
  width: 15.6%;
  color: rgb(126, 114, 114);
  top: -040px;
  left: 50px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 30px;
  cursor: pointer;
}
.orisim:hover {
  color: #fff;
}
.oricontainerc .oricard {
  position: relative;
  width: 270px;
  height: 300px;
  background: #232323 !important;
  border-radius: 20px;
  overflow: hidden;
}
.oricontainerc .oricard::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.oricontainerc .oricard:hover:before {
  clip-path: circle(300px at 80% -20%);
}
.oricontainerc .oricard::after {
  content: "Get It! Grow It!";
  position: absolute;
  left: 05%;
  top: 50%;
  width: 100%;
  height: 100%;
  font-size: 3.5em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04) !important;
}
.oricontainerc .oricard .oriimgBx {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}
.oricontainerc .oricard:hover .oriimgBx {
  top: -17%;
  transform: translate(0%);
}
.oricontainerc .oricard .oriimgBx .oriimage {
  position: absolute;
  top: 60%;
  left: 150px;
  transform: translate(-50%, -50%);
  width: 150px;
}
.oricontainerc .oricard .oricontentBx {
  position: absolute;
  bottom: 40px;
  width: 100%;
  height: 80px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.oriemail > a {
  color: #78fee0;
  text-decoration: none;
  font-size: 22px;
}
.vdemail > a {
  color: #78fee0;
  text-decoration: none;
  font-size: 22px;
}
.oricontainerc .oricard:hover .oricontentBx {
  height: 130px;
}
.oricontainerc .oricard .oricontentBx .orih22 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1;
  color: #fff;
  font-family: "Times New Roman", Times, serif !important;
  font-style: italic;
  font-size: 35px;
}

.oricontainerc .oricard .oricontentBx .oriaw {
  background-color: white !important;
  margin: 0 05px;
  padding: 5px 5px;
  width: 40px;
  border: none;
  outline: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #111 !important;
  position: relative;
  cursor: pointer;
  top: 30px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.oricontainerc .oricard .oricontentBx .oriaw:hover {
  box-shadow: 0 0 0px;
  background-color: #9bdc28 !important;
}

.orifooter {
  position: absolute;
  bottom: auto;
  width: 100%;
  height: 315px;
  line-height: 30px;
  background: #111 !important;
  color: #78fee0;
  font-size: 20px !important;
  font-style: italic;
}
.orimaincontent {
  display: flex;
}
.orimaincontent .oribox {
  flex-basis: 50%;
  padding: 10px 50px;
}
.oribox .orih2 {
  font-size: 4ch;
  font-weight: 600;
  text-transform: capitalize;
}
.oricenter > .oriaddress {
  margin-bottom: 30px;
  margin-left: 60px;
}
.orileft > .oricontact {
  margin-bottom: 30px;
  margin-left: 60px;
}
.oribox .oricontent {
  margin: 20px 0 0 0;
}
.orileft .oricontent {
  text-align: justify;
}
.orileft .oricontent .orisocial {
  margin: 20px 0 0 0;
}
.orileft .oricontent .orisocial .orisociala {
  padding: 0 7px;
}
.orileft .oricontent .orisocial .orisociala .orisocialspan {
  height: 40px;
  width: 40px;
  background: #1a1a1a !important;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
  position: relative;
  top: 20px;
}

.orileft .oricontent .orisocial .orisociala .orisocialspan:hover {
  background: #f12020 !important;
}
.oributton2 {
  margin: 0 15px;
  padding: 9px 25px;
  color: #21ebff;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 20px;
  border: none;
  overflow: hidden !important;
  transition: 0.5s;
  background-color: #111;
}
.oributton2:hover {
  border: 1px #21ebff;
  border-radius: 50px;
  background-color: #21ebff !important;
  color: #111;
  box-shadow: 0 0 50px #21ebff;
  transition-delay: 0.5s;
}
.orictas {
  position: absolute;
  top: 230px;
  left: 550px;
}
.oriright > .oriquick {
  font-size: 25px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bolder !important;
  margin-left: 40px;
}
.oricontents .orirightul .orirightli {
  margin-bottom: 10px;
  margin-left: 50px;
  font-weight: 600;
  font-size: 20px !important;
}
.oricontents .orirightul .orirightli .oririghta {
  font-weight: 600;
  line-height: 30px;
  font-size: 20px !important;
  color: #78fee0 !important;
  text-decoration: none;
}

.oricenter .oricontent .oriplace {
  line-height: 40px;
}

.simitemas {
  position: relative;
  bottom: 050px;
  left: 00px;
  margin: 21px;
  float: left;
}
