@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: rgba(253, 249, 249, 0) !important;
}
body{
    margin: 0;
    padding: 0;
    background-color: #85FFBD;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%) !important;
    /* overflow: hidden; */
}
.logo{
    cursor: pointer;
        position: relative;
        left: 0px;
        border-radius: 50%;
        border: 1px rgb(8, 238, 65) solid;
    }

.head{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    bottom: 10px;
    background-color: #042331 !important;

}

li,a, button{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: bisque;
    text-decoration: none;
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #042331 !important;
}

.lin li{
list-style: none;
align-items: center;
    display: inline-flex;
    align-items: center;
    padding: 0px 10px;
}
.lin li a{
    transition: all 0.3s ease 0s;
}
.lin li a:hover{
    color: greenyellow;
}
.lin{
    position: absolute;
    left: 130px;
    top: 35px;
    
}
.lin>li>.co::after{
    content: '';
    position: relative;
    top:-15px;
    display:inline-block !important;
    width: 0;
    height: 2px;
    background-color:white ;
    transition: width .3s;
}
.lin>li>.co:hover::after{
width: 100%;
transition: width .3s;
}
.lin>li>.oc::after{
    content: '';
    position: relative;
    left: 0px;
        top: -15px;
        display:inline-block;
        width: 0%;
        height: 2px;
    background-color:white ;
    transition: width .3s;
}
.lin>li>.oc:hover:after{
    width: 100%;
    transition: width .3s;
}
.lin>li>.o::after{
    content: '';
    position: relative;
    left: 0px;
    bottom: 15px;
    display:inline-block;        
    width: 0%;        
    height: 2px;
    background-color:white ;
    transition: width .3s;
}        
.lin>li>.o:hover::after{
    width: 100%;
    transition: width .3s;
}
.lin>li>.oce::after{
    content: '';
    position: relative;
    left: 0px;
    bottom: 15px;
    display:inline-block;        
    width: 0;        
    height: 2px;
    background-color: white;
    transition: width .3s;
}        
.lin>li>.oce:hover::after{
    width: 100%;
    transition: width .3s;
}
.cta{
    position:relative;
    left: -40px;
    bottom: -10px;
}

button{
    margin: 0 15px;
    padding: 9px 25px;
    color: #21ebff;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 20px;
    border: none;
    overflow: hidden;
    transition: 0.5s;    
}
button:hover{
background-color: #21ebff !important;
color: #111;
border-radius: 50px;
box-shadow: 0 0 50px #21ebff;
transition-delay: 0.5s;
}
button::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 1px  #21ebff !important;
    border-radius: 35%;
    transition: 0.5s;  
}
 button::before{
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
     width: 100%;
    height: 100%;
    border: 1px  #21ebff;
    border-radius: 15%;
    transition: 0.5s;   
} 

button{
    position: relative;
    left: 0px;
    bottom: 20px;
}



.cart{
    margin: 60px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.info{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}
th{
    position: relative;
    left: 50px;
    text-align: left;
    padding: 05px;
    color: #fff !important;
    font-family:'Times New Roman', Times, serif !important;
    font-style: italic;
    font-size: 21px;
    background: green !important;
    font-weight: normal;
}
.dd{
    position: relative;
    left: -290px;
}
td{
    position: relative;
    left: -100px;
    padding: 15px  00px 5px 15px;
    font-family: 'Times New Roman', Times, serif !important;
    font-style: italic;
}
 .pr{
    position: relative;
    left: -400px;
    font-size: 17px;
}
.bri{
    font-family: 'Times New Roman', Times, serif !important;
    font-style: italic;
    font-size: 22px;
}
.price{
    position: relative;
    left: -570px;
}
.rs{
    position: relative;
    left:-450px;
    font-family: 'Times New Roman', Times, serif !important;
    font-style: italic;
    font-size: 20px;
}
.a{
    position: relative;
    left: -10px;
    font-size: 18.8px;
    top: 10px;
}
.a::after{
    content: '';
    position: relative;
    top:-15px;
    left: -350px;
    display:inline-block !important;
    width: 100%;
    height: 2px;
    background-color:black ;
    transition: width .3s;
}
.view{
    position: relative;
    left: -178px;
    font-size: 12.8px;
    top: 10px;
}
.line {
    border-top:  1px solid #dddfe6 !important;
    width: 1600px;
    position: relative;
    left: 60px;
    top: 05px;
    max-width: 1050px
}
td a{
    color:black!important;
    font-size: 12px;
    position: relative;
    left: -350px;
}
td>.view::after{
    content: '';
    position: relative;
    top:-10px;
    display:inline-block !important;
    width: 100%;
    height: 2px;
    background-color:black ;
    transition: width .3s;
}
td img{
    width: 60px;
    height: 60px;
     margin-left: 150px; 
    margin-right: 10px;
} 
.containerc {
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    position: absolute;
    left: -100px;
    top: 500px;
}
.containerc .sim{
    position: relative;
    font-weight: 600;
    letter-spacing: 1;
    color: rgb(126, 114, 114);
    top:-50px;
    left: 230px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
}
.containerc .sim:hover{
    color: #fff; 
}
.containerc .card{
    position: relative;
    width: 270px;
    height: 300px;
    background: #232323 !important;
    border-radius: 20px;
    overflow: hidden;
}
.containerc .card::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.containerc .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}
.containerc .card::after{
    content: 'Coir Brick';
    position: absolute;
    left: 05%;
    top: 40%;
    width: 100%;
    height: 100%;
    font-size: 5em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04) !important;
}
.containerc .card .imgBx{
    position: absolute;
    top:30%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}
.containerc .card:hover .imgBx{
    top: -15%;
    transform: translate(0%);
}
.containerc .card .imgBx img{
    position: absolute;
    top:60%;
    left: 150px;
    transform: translate(-50%,-50%);
    width: 150px;
}
.containerc .card .contentBx{
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 60px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.containerc .card:hover .contentBx{
    height: 60px;
}
.containerc .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1;
    color: #fff;
    font-family: 'Times New Roman', Times, serif !important;
    font-style: italic;
    font-size: 35px;
}

.containerc .card .contentBx  a{
    background-color: white !important;
    margin:  0 05px;
    padding: 5px 5px;
    width: 40px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 20px;
    color: #111 !important;
    position: relative;
    top:20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.containerc .card .contentBx a:hover{
    box-shadow: 0 0 0px ;
}


footer{
    position: absolute;
    bottom: -1400px;
    width: 100%;
    height: 300px;
    line-height: 30px;
    background: #111 !important;
    color: #78fee0;
    font-size: 20px !important;
    font-style: italic;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 50px;
}
.box .h2{
    font-size: 4ch;
    font-weight: 600;
    text-transform: capitalize;

}
.center>h2{
    margin-bottom: 30px;
    margin-left: 60px;
}
.left>h2{
    margin-bottom: 30px;
    margin-left: 60px;
}
.box .content{
    margin: 20px 0 0 0;
}
.left .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 7px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a !important;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
    top:20px;
    /* background: #ddd !important; */
}

.left .content .social a span:hover{
    background: #f12020 !important;
}

.ctas{
    position: absolute;
    top: 230px;
    left: 550px;
}
.right>h2{
    font-size: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600 !important;
    margin-left: 20px;
}
.contents ul li{
    margin-bottom: 10px;
    margin-left: 50px;
    /* font-family: 'Roboto', sans-serif !important; */
    font-weight: 600;
    font-size: 20px !important;
}
.contents ul li a{
    font-weight: 600;
    line-height: 30px;
    /* font-family: 'Courier Ne', Courier, monospace; */
    font-size: 20px !important;
    color: #78fee0 !important;
}

.center .content .place{
    line-height: 40px;
}