@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

.vdbk {
  background-color: #85ffbd;
  background-image: linear-gradient(
    to right,
    #92fe9d 0%,
    #00c9ff 100%
  ) !important;
  height: 900px;
}
.vdlogo {
  cursor: pointer;
  position: relative;
  left: 0px;
  border-radius: 50%;
  border: 1px rgb(8, 238, 65) solid;
}

.vdhead {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  bottom: 10px;
  background-color: #042331 !important;
}

.vdli,
.vdoc,
.vdco,
.vdoce,
.vdo,
.vdbutton1 {
  font-family: "Times New Roman", Times, serif !important;
  font-weight: bold;
  font-size: 28px;
  font-style: oblique !important;
  color: bisque;
  margin-right: 10px;
  text-decoration: none;
}
.vdheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #042331 !important;
}

.vdlin .vdli {
  list-style: none;
  align-items: center;
  display: inline-flex;
  align-items: center;
  padding: 0px 10px;
}
.vdlin .vdli .vdco .vdoc .vdo .vdoce {
  transition: all 0.3s ease 0s;
}
.vdlin .vdli .vdo:hover,
.vdlin .vdli .vdoc:hover,
.vdlin .vdli .vdoce:hover,
.vdlin .vdli .vdco:hover {
  color: greenyellow;
}
.vdlin {
  position: absolute;
  left: 80px;
  top: 15px;
}
.vdlin > .vdli > .vdco::after {
  content: "";
  position: relative;
  top: -15px;
  display: inline-block !important;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}
.vdlin > .vdli > .vdco:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.vdlin > .vdli > .vdoc::after {
  content: "";
  position: relative;
  left: 0px;
  top: -15px;
  display: inline-block;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}
.vdlin > .vdli > .vdoc:hover:after {
  width: 100%;
  transition: width 0.3s;
}
.vdlin > .vdli > .vdo::after {
  content: "";
  position: relative;
  left: 0px;
  bottom: 15px;
  display: inline-block;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}
.vdlin > .vdli > .vdo:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.vdlin > .vdli > .vdoce::after {
  content: "";
  position: relative;
  left: 0px;
  bottom: 15px;
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}
.vdlin > .vdli > .vdoce:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.vdcta {
  position: relative;
  left: -40px;
  bottom: -10px;
}

.vdbutton1 {
  margin: 0 15px;
  padding: 9px 25px;
  color: #21ebff;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: "Times New Roman", Times, serif !important;
  font-weight: bold;
  font-size: 20px;
  font-style: oblique !important;
  border: none;
  overflow: hidden;
  background: rgba(253, 249, 249, 0);
  transition: 0.5s;
}
.vdbutton1:hover {
  background-color: #21ebff !important;
  color: #111;
  box-shadow: 0 0 50px #21ebff;
  transition-delay: 0.5s;
}
.vdbutton1::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #21ebff !important;
  border-right: 2px solid #21ebff !important;
  transition: 0.5s;
}
.vdbutton1:hover:after {
  width: 100%;
  height: 100%;
}
.vdbutton1::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #21ebff;
  border-left: 2px solid #21ebff;
  transition: 0.5s;
}
.vdbutton1:hover:before {
  width: 100%;
  height: 100%;
}
.vdbutton1 {
  position: relative;
  left: 0px;
  bottom: 20px;
}

.vdcon {
  margin: 60px auto;
  border: 5px double gray;
  width: 70%;
  height: 450px;
}
.vdtable {
  font-size: 1.3rem !important;
  width: 80%;
  border-collapse: collapse;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  font-family: cursive !important;
  font-style: italic;
}
.vdinf {
  position: relative;
  left: 200px;
  bottom: 80px;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif !important;
  font-style: italic;
}

.vdtd {
  position: relative;
  left: -50px;
  padding: 15px 00px 5px 5px;
}

.vdpr {
  position: relative;
  left: 200px;
  font-size: 1.3rem !important;
  bottom: 10px;
}
.vdrpdiv {
  display: flex;
}
.vdprdiv {
  display: flex;
}
.vdrp {
  position: relative;
  left: 150px;
  font-size: 1.3rem !important;
  bottom: 10px;
}
.vdqwdiv {
  display: flex;
}

.vdqw {
  position: absolute;
  left: 370px;
  font-size: 1.3rem !important;
  top: 300px;
}
.vdqws {
  position: absolute;
  left: 470px;
  font-size: 1.3rem !important;
  top: 300px;
}
.vdad {
  position: absolute;
  left: 370px;
  top: 340px;
  font-size: 1.3rem !important;
}
.vdads {
  position: absolute;
  left: 370px;
  top: 380px;
  font-size: 1.3rem !important;
}
.vdsa {
  font-size: 1.3rem !important;
  position: relative;
  top: 10px;
  left: 170px;
}
.vdsas {
  font-size: 1.3rem !important;
  position: relative;
  top: 0px;
  left: 170px;
}
.vdbtnss {
  position: relative;
  top: 140px;
  left: 180px;
  background-color: #21ebff !important;
  color: #111 !important;
  padding: 9px 25px;
  color: #21ebff;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 20px;
  border: 5px groove black;
  transition: 0.5s;
}
.vdbtnss:hover {
  border-radius: 50px;
  box-shadow: 0 0 50px #21ebff;
  transition-delay: 0.5s;
}
.vdinf .vdh2 {
  position: relative;
  left: 20px;
  bottom: 10px;
}
.vdinf .vdsmall {
  position: relative;
  left: 20px;
  bottom: 30px;
}
.vdtd .vdimg {
  width: 100px;
  height: 100px;
  margin-left: 150px;
  margin-right: 10px;
  position: relative;
  bottom: -30px;
  left: -50px;
}
.vdfooter {
  position: absolute;
  bottom: auto;
  width: 100%;
  height: 310px;
  line-height: 30px;
  background: #111 !important;
  color: #78fee0;
  font-size: 20px !important;
  font-style: italic;
}
.vdmaincontent {
  display: flex;
}
.vdmaincontent .vdbox {
  flex-basis: 50%;
  padding: 10px 50px;
}
.vdbox .vdh2 {
  font-size: 4ch;
  font-weight: 600;
  text-transform: capitalize;
}
.vdcenter > .vdaddress {
  margin-bottom: 30px;
  margin-left: 60px;
}
.vdleft > .vdcontact {
  margin-bottom: 30px;
  margin-left: 60px;
}
.vdbox .vdcontent {
  margin: 20px 0 0 0;
}
.vdleft .vdcontent {
  text-align: justify;
}
.vdleft .vdcontent .vdsocial {
  margin: 20px 0 0 0;
}
.vdleft .vdcontent .vdsocial .vdsociala {
  padding: 0 7px;
}
.vdleft .vdcontent .vdsocial .vdsociala .vdsocialspan {
  height: 40px;
  width: 40px;
  background: #1a1a1a !important;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
  position: relative;
  top: 20px;
}

.vdleft .vdcontent .vdsocial .vdsociala .vdsocialspan:hover {
  background: #f12020 !important;
}
.vdbutton2 {
  margin: 0 15px;
  padding: 9px 25px;
  color: #21ebff;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 20px;
  border: none;
  overflow: hidden !important;
  transition: 0.5s;
  background-color: #111;
}
.vdbutton2:hover {
  border: 1px #21ebff;
  border-radius: 50px;
  background-color: #21ebff !important;
  color: #111;
  box-shadow: 0 0 50px #21ebff;
  transition-delay: 0.5s;
}
.vdctas {
  position: absolute;
  top: 230px;
  left: 550px;
}
.vdright > .vdquick {
  font-size: 25px;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-weight: 800 !important;
  margin-left: 40px;
}
.vdcontents .vdrightul .vdrightli {
  margin-bottom: 10px;
  margin-left: 50px;
  font-weight: 600;
  font-size: 20px !important;
}
.vdcontents .vdrightul .vdrightli .vdrighta {
  font-weight: 600;
  line-height: 30px;
  font-size: 20px !important;
  color: #78fee0 !important;
  text-decoration: none;
}

.vdcenter .vdcontent .vdplace {
  line-height: 40px;
}
