<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biobin</title>
</head>
<body>
    <header>
        <img  class ="log" src="/biobin_/src/components/function/logo.jpeg" alt="" width="100px
        ">
            <nav>
                <ul class="lin">
                    <a href="#">Services</a>
                    <a href="#">Projects</a>
                    <a href="#">Aboout</a>

                </ul>
                <a class = "but" href="#"><button>Help</button></a>
            </nav>
</header>
</body>
</html>